<table class="table">

  <thead class="thead-dark">
  <tr>
    <th>Preview</th>
    <th>Product Name</th>
    <th>Units in stock</th>
    <th> Price</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let product of products">


    <td class="align-middle" height="20">
      <img src="{{product.imageUrl}}">
    </td>

    <td class="align-middle">
      {{product.name}}
    </td>

    <td class="align-middle">
      {{product.unitsInStock}}
    </td>
    <td class="align-middle">
      {{product.unitPrice | currency:'USD'}}
    </td>


  </tr>

  </tbody>

</table>
